{% extends "accounts/base.html" %}

{% block title %}Login - Doe Vida{% endblock %}

{% block content %}

<section class="d-flex h-100 align-items-center justify-content-center login">
  <div class="card shadow-lg p-4 login">
    <h3 class="text-center text-danger fw-bold mb-4">Acesse sua Conta</h3>
    <form id="form-login" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">E-mail</label>
        <input type="email" id="email" name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" id="senha" name="password" class="form-control" required>
      </div>
      <div id="login-invalido" class="text-danger my-2" style="display:none;"></div>
      <button type="submit" class="btn btn-danger w-100">Entrar</button>
      <p class="text-center mt-3 mb-0">
        Não tem uma conta? <a href="{% url "cadastro_doador" %}" class="text-danger fw-bold">Cadastre-se</a>
      </p>
    </form>
  </div>
</section>

{% endblock %}
