{% extends "core/base.html" %}

{% block title %}Agendamento - Doe Vida{% endblock %}

{% block content %}

<div class="py-5">
  <section class="container m-auto bg-light p-5">
    <header class="text-center mb-5">
      <h1 class="text-danger fw-bold"><i class="bi bi-calendar-heart"></i> Agende sua Doação</h1>
      <p class="lead">Preencha os campos abaixo e garanta seu horário para doar sangue e salvar vidas!</p>
    </header>

    <!-- FORMULÁRIO -->
    <article class="bg-white p-4 rounded shadow-sm mx-auto" style="max-width: 600px;">
      <form id="formAgendamento" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="nome" class="form-label fw-semibold">Nome Completo</label>
          <input type="text" id="nome" class="form-control" placeholder="Seu nome" required>
        </div>

        <div class="mb-3">
          <label for="data" class="form-label fw-semibold">Data</label>
          <input type="date" id="data" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="horario" class="form-label fw-semibold">Horário</label>
          <input type="time" id="horario" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="local" class="form-label fw-semibold">Local da Doação</label>
          <select id="local" class="form-select" required>
            <option value="">Selecione...</option>
            <option>Hospital São Lucas</option>
            <option>Hemocentro Central</option>
            <option>Posto Sul</option>
          </select>
        </div>


        <div class="mb-3">
          <select name="campanha" id="campanha">
            {% for camp in form.fields.campanha.queryset %}
                <option value="{{ camp.id }}">{{ camp.nome }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <select name="ponto" id="ponto">
            <option value="">Selecione um ponto</option>
          </select>
        </div>


        <button type="submit" class="btn btn-danger w-100">
          <i class="bi bi-check-circle"></i> Confirmar Agendamento
        </button>
      </form>

      <div id="mensagemSucesso" class="alert alert-success mt-4 d-none">
        <i class="bi bi-check2-circle"></i> Seu agendamento foi realizado com sucesso!
      </div>
    </article>
  </section>
</div>

{% endblock %}
