{% extends "core/base.html" %}

{% load widget_tweaks %}

{% load static %}

{% block title %}Agendamento - Doe Vida{% endblock %}

{% block content %}

<div class="py-5">
  <section class="container m-auto bg-light p-5">
    <header class="text-center mb-5">
      <h1 class="text-danger fw-bold"><i class="bi bi-calendar-heart"></i> Agende sua Doação</h1>
      <p class="lead">Preencha os campos abaixo e garanta seu agendamento para doar sangue e salvar vidas!</p>
    </header>

    <!-- FORMULÁRIO -->
    <article class="bg-white p-4 rounded shadow-sm mx-auto" style="max-width: 600px;">
      <form method="POST">
        {% csrf_token %}

        <!-- CAMPANHA -->
        <div class="mb-4">
          <label class="form-label fw-semibold">Campanha</label>
          <div class="input-group">
              <span class="input-group-text bg-danger text-white">
                  <i class="bi bi-bullseye"></i>
              </span>
              {{ form.campanha|add_class:"form-select" }}
              {% if form.campanha.errors %}
                <div class="text-danger small">
                  {{ form.campanha.errors }}
              </div>
              {% endif %}
          </div>
        </div>

        <!-- PONTO (AJAX) -->
        <div class="mb-4">
          <label class="form-label fw-semibold">Ponto de Coleta</label>
          <div class="input-group">
              <span class="input-group-text bg-danger text-white">
                  <i class="bi bi-geo-alt"></i>
              </span>
              {{ form.ponto|add_class:"form-select" }}
          </div>
          {% if form.ponto.errors %}
            <div class="text-danger small">
              {{ form.ponto.errors }}
            </div>
          {% endif %}
        </div>

        <!-- DATA -->
        <div class="mb-4">
          <label class="form-label fw-semibold">Data do Agendamento</label>
          <div class="input-group">
              <span class="input-group-text bg-danger text-white">
                  <i class="bi bi-calendar-event"></i>
              </span>
              {{ form.data_agendada|add_class:"form-control" }}
          </div>
          {% if form.data_agendada.errors %}
            <div class="text-danger small">
                {{ form.data_agendada.errors }}
            </div>
          {% endif %}
        </div>

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
              {{ form.non_field_errors }}
          </div>
        {% endif %}

        <button type="submit" class="btn btn-danger w-100">
          <i class="bi bi-check-circle"></i> Confirmar Agendamento
        </button>
      </form>

      <div id="mensagemSucesso" class="alert alert-success mt-4 d-none">
        <i class="bi bi-check2-circle"></i> Seu agendamento foi realizado com sucesso!
      </div>
    </article>
  </section>
</div>

{% endblock %}
